{{ template "header" .}}

<div class="container-fluid">
    <div class="row">
        <div class="col-sm">
            <form id="searchForm" action="/search/">
                <div class="form-group">
                    <label for="id">Comma separated list of IDs and/or IPs</label>
                    <input type="text" class="form-control" id="id" name="id" value="{{.IDs}}" data-role="tagsinput">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
            <hr />
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <div id="data-table" class="table-striped table-bordered table-hover"></div>
        </div>
    </div>
</div>

{{ template "footer_scripts" .}}

<script type="text/javascript">
    var ajaxURL = "/api/search/{{ .IDs }}";
</script>

{{ template "footer" .}}
